.flex-container {
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    opacity: 0.7;
    height: 3rem;
}

.flex-item-left, .flex-item-right {
    flex: 50%;
    position: relative;
}

.flex-item-right {
    flex-direction: row-reverse;
}

.list {
    display: flex;
    list-style-type: none;
}

.list > li {
    margin: 2% 3%;
}
 a:link {
    color: black;
    opacity: 0.7;
    text-decoration: none;
}
 a:visited {
    color: black;
}
